<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to kataBowling!
  </h1>

  <div *ngFor="let frame of line">
    {{frame}}
  </div>
  <div *ngIf="!end">
    <label>1st try:
      <input type="number" [(ngModel)]="currentFrame[0]">
    </label>
    <label>2nd try:
      <input type="number" [(ngModel)]="currentFrame[1]">
    </label>
    <label>3rd try:
      <input type="number" [(ngModel)]="currentFrame[2]">
    </label>
    <button (click)="addLine()">Next!</button>
  </div>

  <h2 *ngIf="end">
    Your score: {{getScore()}} points
  </h2>
  <button *ngIf="end" (click)="reset()">New game</button>

</div>


